<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corpus form</title>
</head>
<body>
    <form action="/url" method="GET">
        <p>Title:</p>
        <input type="text">
    </form>
    <form action="/url" method="GET">
        <p>Description:</p>
        <input type="text">
    </form>
    <form action="/url" method="GET">
        <p>Link to accesss it:</p>
        <input type="text">
    </form>
    <p>If available include the following:</p>
    <form action="/url" method="GET">
        <p>Creator:</p>
        <input type="text">
    </form>
    <form action="/url" method="GET">
        <p>Affiliation:</p>
        <input type="text">
    </form>
    <form action="/url" method="GET">
        <p>Affiliation:</p>
        <input type="text">
    </form>  
    <form action="/url" method="GET">
        <p>ORCIDs:</p>
        <input type="text">
    </form>    
    <form action="/url" method="GET">
        <p>Funding:</p>
        <input type="text">
    </form>   
    <form action="/url" method="GET">
        <p>Resource type:</p>
        <input type="text">
    </form>    
    <form action="/url" method="GET">
        <p>DOI:</p>
        <input type="text">
    </form>    
    <form action="/url" method="GET">
        <p>Publication year:</p>
        <input type="text">
    </form>    
    <form action="/url" method="GET">
        <p>License:</p>
        <input type="text">
    </form>    
    <form action="/url" method="GET">
        <p>Publisher:</p>
        <input type="text">
    </form>    
</body>
<footer>
  <p>An end-user agreement</p>
</footer>
</html>
